@source inline('icon-[ic--outline-dataset]');
@source inline('icon-[game-icons--barbed-star]');
@source inline('icon-[game-icons--beveled-star]');
@source inline('icon-[game-icons--diamond-hard]');
@source inline('icon-[game-icons--opened-food-can]');
@source inline('icon-[game-icons--elderberry]');
